<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	
	  <bean id="ctrlTBTipoClase" 
	class="grupo09.negocio.CtrlTBTipoClase" > 
		<constructor-arg ref ="tbTipoClaseDao" />
	</bean>
	
	 <bean id="tbTipoClaseDao" class="grupo09.dao.TBTipoClaseDAO" >
		<constructor-arg ref ="hibernateUtil" />
	 </bean>
	 <bean id="ctrlTBAplicativo" 
	class="grupo09.negocio.CtrlTBAplicativo" > 
		<constructor-arg ref ="tbAplicativoDao" />
	</bean>
	<bean id="tbAplicativoDao" class="grupo09.dao.TBAplicativoDAO" >
		<constructor-arg ref ="hibernateUtil" />
	 </bean>
	 <bean id="ctrlASClase" 
	class="grupo09.negocio.CtrlASClase" > 
		<constructor-arg ref ="asClaseDao" />
	</bean>
	<bean id="asClaseDao" class="grupo09.dao.ASClaseDAO" >
		<constructor-arg ref ="hibernateUtil" />
	 </bean>
	 
	 
	<bean id="ctrlTBTipoAtributo" 
	class="grupo09.negocio.CtrlTBTipoAtributo" > 
		<constructor-arg ref ="tbTipoAtributoDao" />
	</bean>
	<bean id="tbTipoAtributoDao" class="grupo09.dao.TBTipoAtributoDAO" >
		<constructor-arg ref ="hibernateUtil" />
	 </bean>
	 
	 <bean id="ctrlTBTipoMetodo" 
	class="grupo09.negocio.CtrlTBTipoMetodo" > 
		<constructor-arg ref ="tbTipoMetodoDao" />
	</bean>
	 
	 
	 <bean id="tbTipoMetodoDao" class="grupo09.dao.TBTipoMetodoDAO" >
		<constructor-arg ref ="hibernateUtil" />
	 </bean>

<!-- bryan flores beans -->
 <bean id="ctrlASInterface" 
	class="grupo09.negocio.CtrlASInterface" > 
		<constructor-arg ref ="asInterfaceDao" />
	</bean>
	<bean id="asInterfaceDao" class="grupo09.dao.ASInterfaceDAO" >
		<constructor-arg ref ="hibernateUtil" />
	 </bean>
	 
	  <bean id="ctrlASInterfaceImplementa" 
	class="grupo09.negocio.CtrlASInterfaceImplementa" > 
		<constructor-arg ref ="asInterfaceImplementaDao" />
	</bean>
	<bean id="asInterfaceImplementaDao" class="grupo09.dao.ASInterfaceImplementaDAO" >
		<constructor-arg ref ="hibernateUtil" />
	 </bean>
	 
	  <bean id="CtrlASClaseInterface" 
	class="grupo09.negocio.CtrlASClaseInterface" > 
		<constructor-arg ref ="ASClaseInterfaceDao" />
	</bean>
	<bean id="ASClaseInterfaceDao" class="grupo09.dao.ASClaseInterfaceDAO" >
		<constructor-arg ref ="hibernateUtil" />
	 </bean>
	 	 
	  <bean id="ctrlASObservacion" 
	class="grupo09.negocio.CtrlASObservacion" > 
		<constructor-arg ref ="asObservacionDao" />
	</bean>
	<bean id="asObservacionDao" class="grupo09.dao.ASObservacionDAO" >
		<constructor-arg ref ="hibernateUtil" />
	 </bean>
	 
	 <bean id="asMetodoDao" class="grupo09.dao.ASMetodoDAO" >
		<constructor-arg ref ="hibernateUtil" />
	 </bean>
	  
	   <bean id="ctrlASMetodo" 
	class="grupo09.negocio.CtrlASMetodo" > 
		<constructor-arg ref ="asMetodoDao" />
	</bean>
	 
	 <bean id="ctrlASAtributo" 
	class="grupo09.negocio.CtrlASAtributo" > 
		<constructor-arg ref ="asAtributoDao" />
	</bean>
	<bean id="asAtributoDao" class="grupo09.dao.ASAtributoDAO" >
		<constructor-arg ref ="hibernateUtil" />
	 </bean>

	<bean id="hibernateUtil" class="grupo09.utilidades.datos.HibernateUtil"> </bean>  
</beans>	     