<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/modelo_proyecto</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<mapping class="grupo09.dominio.TBTipoClase" />
		<mapping class="grupo09.dominio.TBAplicativo" />
		<mapping class="grupo09.dominio.ASClase"/>
		<mapping class="grupo09.dominio.TBTipoAtributo" />
		<mapping class="grupo09.dominio.TBTipoMetodo" />
		<mapping class="grupo09.dominio.ASObservacion" />		
		<mapping class="grupo09.dominio.ASMetodo" />
		
		
		
		
		
	</session-factory>
</hibernate-configuration>